# Backend Configuration
PORT=5001
NODE_ENV=development
DATABASE_URL="postgresql://mikey@localhost:5432/trapbreaker?schema=public"
JWT_SECRET="trapbreaker-super-secret-jwt-key-2026"
CLIENT_ORIGIN="http://localhost:3000"

# Optional LiveKit Video Configuration
LIVEKIT_URL=""
LIVEKIT_API_KEY=""
LIVEKIT_API_SECRET=""

# Frontend Configuration (.env.local)
NEXT_PUBLIC_API_URL="http://localhost:5001/api"
NEXT_PUBLIC_SOCKET_URL="http://localhost:5001"
